build/
node_modules/
.DS_Store
.env
*.orig
artifacts/
*/artifacts/
.idea/
*.swp
*~
\#*\#
\.\#*
*.tar.gz
.*.swp
ipfs/
swarm/
.deps/
QAXHA/
out.log
trace.log
package.json
package-lock.json
.vscode/
yarn.lock
.ipynb_checkpoints/
__pycache__/
test_uSafe.py
fhe_pk.bin
zero_value.bin
venv
.idea
qodana.yaml
Writerside/
api/log/
.states

/compiler_config.json
/remix-compiler.config.js
